@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    /*--foreground: #ededed;*/
  }
}

html {
  background-color: var(--color-background);
}

html.light {
  background-color: snow;
  background-color: color-mix(in srgb, snow, white 35%);
  background-image: conic-gradient(in srgb at 0% 0%, snow, white);
}

html.dark {
  background-color: #111;
  background-color: color-mix(in srgb, #101010, #111 35%);
  background-image: conic-gradient(in srgb at 0% 0%, #101010, #111);
}
